.cc-selector input {
   margin: 0;
   padding: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.visa {
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRirbFPrWh8r1EJzMlbP8aLiYL5E4AObiKCPQ&usqp=CAU);

}

.mastercard {
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgonuh2NOzcKC-rBmr3fCr8ifNH1I_AjYAzA&usqp=CAU);
}

.cc-selector input:active+.drinkcard-cc {
   opacity: .9;
}

.cc-selector input:checked+.drinkcard-cc {
   -webkit-filter: none;
   -moz-filter: none;
   filter: none;
}

.drinkcard-cc {
   cursor: pointer;
   background-size: contain;
   background-repeat: no-repeat;
   display: inline-block;
   width: 100px;
   height: 70px;
   -webkit-transition: all 100ms ease-in;
   -moz-transition: all 100ms ease-in;
   transition: all 100ms ease-in;
   -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
   -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
   filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
   -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
   filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited {
   color: #888
}

a {
   color: #444;
   text-decoration: none;
}

p {
   margin-bottom: .3em;
}


/* CSS3 규칙 으로 기본 입력 라디오 버튼을 숨겨 CSS3를 활용하는 것이 좋습니다 . .options input {
   margin: 0;
   padding: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
} */